<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ESI Summariser</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="stylesheet" href="/static/style.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"><link rel="stylesheet" href="./style.css">
</head>
<body>
	<div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div> 
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
    <div class="snowflake">❄</div>
	<div class="box-form">
		<div class="left">
			<div class="overlay">
				<img src="/static/assets/esi.jpg" width="200" alt="esi">
				<h2>Hello </h2>
				<p>In Order to have access to the News Summarizer ESI Summarizer Please Login to your Account</p>
				<span>
					<p>Login with social media</p>
					<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
					<a href="#"><i class="fa fa-google" aria-hidden="true"></i></a>
				</span>
			</div>
		</div>
		<div class="right">
			<img src="/static/assets/stick_login.svg" width="300" alt="stick_login">
			<h5>Login</h5>
			<p>Don't have an account? <a href="#">Create Your Account</a> it takes less than a minute</p>
	
			<!-- Add the form here -->
			<form action="/login" method="post">
				<div class="inputs">
					<input type="text" name="username" placeholder="Username">
					<br>
					<input type="password" name="password" placeholder="Password">
				</div>
				<br><br>
				<div class="remember-me--forget-password">
					<label>
						<input type="checkbox" name="item" checked/>
						<span class="text-checkbox">Remember me</span>
					</label>
					<a href="#"><p>Forgot password?</p></a>
				</div>
				<br>
				<button type="submit">Login</button>
			</form>
			<!-- End of the form -->
	
		</div>
	</div>
	
</body>
</html>
